div {
  border: 2px solid #777;
}
h1 {
  text-align:center
}


.header .logo {
  width: 100px;
  height: 100px;
  /*float: left;*/
  margin: 0 10px 0 0;
  background-size: cover;
  background-image: url("../images/logo.png");

}

.header {
  width: 1000px;
  margin: 0 auto;
}


.content {
  color: rgb(49, 151, 116);
  background-color:black;
  width: 940px;
  margin: 10px auto;
  padding: 5px 30px;
}

.block_bottom {
  width: 1000px;
  margin: 0 auto;
}

.block_right {
  color: aqua;
}