div {
  border: 1px solid #777;
}
h1 {
  text-align:center
}

.header .logo {
  width: 100px;
  height: 100px;
  /*float: left;*/
  margin: 0 10px 0 0;
  background-size: cover;
  background-image: url("../images/logo.png");

}

.header {
  width: 1000px;
  margin: 0 auto;
}


.content {
  background-color:black;
  width: 1000px;
  margin: 0 auto;
}
