/*html {
  width: 100%;
  overflow: hidden;
}*/

body {
  background-image: url("../images/main.jpg");
  padding: 0;
  margin: 0;
}

div {
  border: 10px solid #777;
}

.main {
  width: 100%;
  height: 100%;
  position: absolute;
}

.main .super_klass {
  overflow: hidden;
  min-width: 800px;
  text-align: center;
  height: 190px;
  margin: 20px;
  border: 4px solid #0078c9;
  background-image: url("../images/logo.png");
  color: black;
  font-size: 100%;
  border-radius: 80px;
  background-color: #0078c9;
}


.main .nol {
  top: 10%;
  width: 50%;
}

.main .odin {
  top: 40%;
  width: 75%;
}

.main .dva {
  top: 70%;
  width: 100%;
}

